h1 {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: antiquewhite;
    background-color: #3f6bf4;
    background-image: linear-gradient(132deg, #3f6bf4 0%, #41c340 49%, #fff27c 100%);    
    padding: 50px;

}
.information {
    margin: 30px;
    padding: 30px;

}
.navbar-brand {
    display: flex;
    justify-content: flex-start;
}
.form-label{
    padding: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    font-style: italic;
}

#hostels {
    display: flex;
    justify-content: center;
    margin:4px;
    padding:4px;
    color:black;
} 

.arrays {
    margin: 10px;
    padding-top: 50px;
    display: flex;
    align-content: center;
}

.container-arrays {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;

}
