h1 {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: antiquewhite;
    background-color: #3f6bf4;
    background-image: linear-gradient(132deg, #3f6bf4 0%, #41c340 49%, #fff27c 100%);    
    padding: 50px;

}
.navbar-brand {
    padding: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    font-style: italic;
}

#hostels {
    display: flex;
    justify-content: center;
    margin:4px;
    padding:4px;
    color:black;
} 

.arrays {
    margin: 10px;
    padding-top: 50px;
    display: flex;
    align-content: center;
}