h1 {
    display: flex;
    justify-content: center;
    color: antiquewhite;
    background-color: green;

}

h2 {
    display: flex;
    justify-content: center;
}

#hostels {
    display: flex;
    justify-content: center;
    margin:4px;
    padding:4px;
    color:black;
} 